h1 {
    margin-top: 25px;
    text-align: center;
    color: white;
    font-family: 'Limelight', cursive;
    font-size: 50px;
}

div {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding-right: 2px;
    padding-left: 2px;
}

.container {
    margin-top: 40px;
}

.box1 {
    background-color: #DE282E;
}

.box2 {
    background-color: aliceblue;
}

.box3 {
    background-color: whitesmoke;
}

body {
    background-image: url("../images/spiration\ dark.png");
}

.container {
    height: 50%;
}

.current-phrase {
    font-size: 30px;
}
